[Desktop Entry]
Type=Application
Version=1.0
Name=Pear Desktop
Comment=Start Pear Desktop on login
Exec=pear-desktop
TryExec=pear-desktop
Terminal=false
X-GNOME-Autostart-enabled=true
OnlyShowIn=GNOME;
